*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-gray: #d1d1d6;
  --dark-gray: #505050;
  --orange: #ff9500;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.orange {
  background-color: var(--orange) !important;
}

.orange:active {
  background-color: #d87c00 !important;
}

.light-gray {
  background-color: var(--light-gray) !important;
}

.light-gray:active {
  background-color: #afafb4 !important;
}

.calculator-container {
  width: 385px;
  background-color: #000;
  padding: 1rem;
  border-radius: 1.5rem;
}

.calculator-display {
  max-width: 385px;
  overflow: hidden;
  font-size: 3.75rem;
  height: 150px;
  margin-bottom: 1.75rem;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.calculator-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: repeat(5, 75px);
}

.calc-item {
  font-size: 1.75rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-gray);
  border-radius: 50%;
}

.calc-item:active {
  background-color: #3a3a3d;
}

.calc-item#zero {
  grid-column: span 2;
  border-radius: 3rem;
}
